/* You can add global styles to this file, and also import other style files */
.name{
    color: #000000;
    font-weight: bold;
}
.user-id{
    color: #b9a9a9;
}
.user-id-post{
    color: #b9a9a9;
    padding-left: 10px;
}
.retweet{
    padding-left: 10px;
}
.btn-primary{
    margin-top: 10px;
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin-left: 35%;
    margin-top: 20%;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.twitter{
    width: 50px;
    height: 50px;
}
.appName{
    display: inline;
}
.card{
    border: 1px solid #87bce9;
}
.nav, .navbar{
    background-color: #f0f8ff !important;
}